* {
    margin:  0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    height: 53px;
    background-color: #FF6501;
}
#kNav {
    height: 53px;
    width: 85%;
    background-color: #FF6501;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo {
    text-decoration: none;
    color: black;
    font-weight: 977;
    font-size: 29px;
    margin: 9.5px 18px;
  
}
nav ul {
   
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 18px;
}
nav ul li a {
    color: black;
    text-decoration: none;   
}
body {
    background-color: #080808;
    color: #ffffff;
}

.main {
    margin: 20% 0 5px 38px;
    font-size: 18px;
}
.main h1 {
    font-size: 83px;
}
span {
    color: #FF6501;
}

